.post-container{
    display: flex;
    flex-direction: column;
}

.poster-container{
    justify-items: center;
}

.poster-container #post-image{
    width: 200px;
}

.review-container{
    padding: 0 20px 0 20px;
    border: 1px dotted black;
}

.review-container p{
    font-size: small;
}

.listContainer{
    display: grid;
  column-gap: 10px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.listItem{
    border: 1px solid black;
    background-color: gray;
    color: black;
    padding: 3px;
    margin-bottom: 3px;
    border-radius: 5px;
}